body {
  background-color: rgb(154, 231, 238);
  text-align: center;
}

button {
  background-color: black;
  color: red;
  border: none;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
